.ipynb_checkpoints
*Dataset*
*logs*
tf-model/Alphabet Classifier
tf-model/Digits Classifier
tf-model/Digits_Classifier
tf-model/testing-with-images.ipynb
tf-model/testing-alphabets-me/A_test.jpeg
tf-model/testing-alphabets-me/B_test.jpeg
tf-model/testing-alphabets-me/C_test.jpeg
tf-model/testing-alphabets-me/D_test.jpeg
tf-model/testing-alphabets-me2/A_test.jpeg
tf-model/testing-alphabets-me2/B_test.jpeg
tf-model/testing-alphabets-me2/C_test.jpeg
tf-model/testing-alphabets-me2/D_test.jpeg
